.container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 10px;
    margin:0 auto;
    border: 2px solid black;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
input{
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px;
    text-align: right;
    margin-bottom: 10px;
    font-size:24px;
    border-radius:12px;
    border:2px solid #ccc;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);


    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:brown;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
label{
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
}
button{
    font-size: 18px;
    padding: 15px;
    border-radius: 8px;
    border:1px solid black ;
    cursor: pointer;
}

button:hover{
    background-color: #dcdcdc;
}